-Coffee(x1) | -Bold(x1) | Good(x1)
-Coffee(x2) | Bold(x2) | -Good(x2)
-CoffeeMaker(x3) | -Makes(x3, x4) | Coffee(x4)
CoffeeMaker(Dunkin)
CoffeeMaker(Starbucks)
CoffeeMaker(Tatte)
Makes(Dunkin, Original)
Makes(Dunkin, DarkRoast)
Makes(Starbucks, FrenchRoast)
Makes(Tatte, ColdBrew)
Bold(FrenchRoast)
Bold(DarkRoast)
-Bold(Original)
Bold(ColdBrew)
--- negated query ---
-Good(ColdBrew)
